{% extends "base.html" %}
{% load static %}

{% block pango %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'nse/post.css' %}" />
    <link rel="stylesheet" href="{% static 'nse/index.css' %}" />
{% endblock %}

{% block content %}

    <section id ="welcome">
      <header>
          <img src="{% static 'nse/images/d1.jpg' %}" alt=" Parag - The author of this blog.">
          <h2> Parag's Blog</h2>
      </header>
        <p> Hey Parag here. This is my first blog.</p>
    </section>

    <section id="latest-posts">
        <h2>My latest thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include "nse/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about us">
        <h2>What I Do</h2>
        <p>I love trading. I love Investing.</p>
        <p>My goal is to keep growing as a trader and investor.</p>
    </section>
{% endblock %}